name: Auto Version

on:
  push:
    branches:
      - 'main'
      - 'canary'

permissions:
  contents: write
  packages: write

jobs:
  get-version:
    uses: ./.github/workflows/get-semantic-version.yml
    with:
      branch: ${{ github.ref_name }}

  update-pom:
    name: Updates pom.xml
    needs: get-version
    if: ${{ needs.get-version.outputs.is-new == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          ref: ${{ github.ref_name }}
          fetch-depth: 0

      - name: Commit updated version
        run: |
          VERSION=${{ needs.get-version.outputs.version }}
          CLEAN_VERSION=${VERSION#v}
          mvn versions:set -DnewVersion="$CLEAN_VERSION" -DgenerateBackupPoms=false

          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add pom.xml
          git commit -m "chore(pom.xml): Bump version to '$CLEAN_VERSION'."
          git push
  
  release-version:
    needs: 
      - get-version
      - update-pom
    if: ${{ needs.get-version.outputs.is-new == 'true' }}
    uses: ./.github/workflows/create-release.yml
    with:
      version: ${{ needs.get-version.outputs.version }}
      branch: ${{ github.ref_name }}
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}

  release-image:
    needs:
      - get-version
      - release-version
    if: ${{ needs.get-version.outputs.is-new == 'true' }}
    uses: ./.github/workflows/release-image.yml
    with:
      version: ${{ needs.get-version.outputs.version }}
    secrets:
      pat: ${{ secrets.MAVEN_DEPLOY_TOKEN }}
